Flask-API
Flask-ini
SQLAlchemy
alembic
argon2_cffi
argparse; python_version<"2.7" or (python_version>="3.0" and python_version<"3.2")
configparser; python_version<"3.2"
enum34; python_version<"3.4"
flask
flask-bcrypt
flask-cors
flask_migrate
flask_sqlalchemy
furl
httpstatus35; python_version<"3.5"
passlib
recommonmark
sphinx
sphinx_rtd_theme
sphinxcontrib-httpdomain
sphinxcontrib-httpexample
sphinxcontrib-napoleon
sqlalchemy_utils
zxcvbn
